.home-banner{
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 300px;
}
.teams-container{
    background-color:black;
}
.home-banner h1{
    text-align: center;
    font-size: 60px;
    /* color: #d0f3d9; */
    color: white;
    padding-top: 70px;
}
